html{
    font-family: roboto, sans-serif;
}

body{ 
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

/*header{
    padding-top: 0px;
    padding-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    height: 390px;  
    margin-top: 25px;  
}

.menu{
    float: right;
    display: flex;
}
nav{
    float: right;
    
}

nav li{
    display: inline;
}

nav a{
    padding: 20px 30px;
    font-size: 16px;
}

.menu-heb a{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}
.menu-act a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

.menu-ins{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.menu-ins a{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    font-size: 16px;
}

.menu-heb:hover, .menu-ins a:hover{
    border-top: 2px solid blue;
    padding-top: 30px;
}
.menu-act:hover{
    border-top: 2px solid grey;
    padding-top: 30px;
}

#logo{
    width: 110px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.logo{
    width: 50%;
    display: inline;
}

h1{
    font-size: 25px;
}
h5{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 25px;
}
h6{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 25px;
}

#search {
    width: 45px;
    text-align: center;
    height: 33px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    padding-top: 11.5px;
}
#recherche{
    height: 40px;
    width: 250px;
    padding-left: 15px;
    border: solid 1.5px #F2F2F2;
}
::placeholder{
    font-weight: bold;
    font-size: 18px;
    color: black;
}

#submit{
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: white;
    height: 45px;
    width: 150px;
    border: 0px solid;
    cursor: pointer ;
    font-size: 18px;
}
.p1{
    margin-right: 35px;
}
.filtres{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    align-items: center;
}
.Inputicon i{
    position: absolute;
}
#item{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100px;
    border: 1px solid #F2F2F2;
    height: 32px;
    width: 50px;
    text-align: center;
    padding-top: 16px;
    position: absolute;
    z-index: 1;
}
#item{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100px;
    border: 1px solid #F2F2F2;
    height: 32px;
    width: 50px;
    text-align: center;
    padding-top: 16px;
    position: absolute;
    z-index: 1;
}
#item2{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100px;
    border: 1px solid #F2F2F2;
    height: 32px;
    width: 50px;
    text-align: center;
    padding-top: 16px;
    position: absolute;
    z-index: 1;
}
#item3{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100px;
    border: 1px solid #F2F2F2;
    height: 32px;
    width: 50px;
    text-align: center;
    padding-top: 16px;
    position: absolute;
    z-index: 1;
}
#item4{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100px;
    border: 1px solid #F2F2F2;
    height: 32px;
    width: 50px;
    text-align: center;
    padding-top: 16px;
    position: absolute;
    z-index: 1;
}

.eco{
    background-color: white;
    margin-right: 25px;
    border-radius: 50px;
    font-weight: bold;
    border: 2.2px solid #F2F2F2;
    height: 50px;
    font-size: 18px;
    padding-left: 68px;
    padding-right: 30px;
    cursor: pointer;
    z-index: 0;
}
.eco:hover{
    background-color: #0065FC;
    border: 2px solid transparent;
    color: #F2F2F2;
}

#info{
    color: #0065FC;
    border-radius: 100%;
    border: 2px solid #F2F2F2;
    margin-right: 12px;
    padding: 5px;
    width: 17px;
    text-align: center;
}

.result{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

section{
    display: flex;
}

.hebergement{
    background-color: #F2F2F2;
    margin-left: 40px;
    margin-top: 20px;
    width: 59%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    border-radius: 20px;
}

.images_heberge{
    height: 140px;
    width: 260px;
    border-radius: 15px 15px 0px 0px;
}

.ileft{
    display: flex;
    flex-wrap: wrap;
}
.description{
    margin-right: 20px;
    background-color: white;
    padding: 6px;
    border-radius: 20px;
    margin-bottom: 30px;
}

h2{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.p2{
    margin-left: 10px;   
    font-size: 17px; 
}

.star{
    margin-left: 10px;
    margin-top: 7px;
}
.fa-star{
    color: #0065fc;
    font-size: 15px;
}
#star_grey{
    color: #F2F2F2;
    font-size: 15px;
}
#star_grey2{
    color: #F2F2F2;
    font-size: 15px;
}
#star_grey3{
    color: #F2F2F2;
    font-size: 15px;
}
#star_grey4{
    color: #F2F2F2;
    font-size: 15px;
}
#star_grey5{
    color: #F2F2F2;
    font-size: 15px;
}
#star_grey6{
    color: #F2F2F2;
    font-size: 15px;
}
#star_grey7{
    color: #F2F2F2;
    font-size: 15px;
}

.pop{
    background-color: #F2F2F2;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    width: 28%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 20px;
}

#pop_item{
    margin-left: 130px;
}

.des_pop{
    display: flex;
    flex-wrap: nowrap;
    margin-right: 20px;
    background-color: white;
    padding: 6px;
    padding-right: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.images_pop{
    height: 170px;
    width: 150px;
    border-radius: 15px 0px 0px 15px;
}

.text_pop{
    margin-left: 10px;
}

.pop_star{
    margin-left: 10px;
    margin-top: 65px;
}

.activites{
    margin-top: 45px;
    margin-left: 40px;
    margin-right: 40px;
}

.left_act{
    float: left;
    width: 50%;
}
.right_act{
    float: right;
    width: 48.5%;
}
.big_act{
    float: left;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 20px #f2f2f2;
}
.left_images_act{
    border-radius: 20px 20px 0px 0px;
    width: 310px;
    height: 410px;
}
.small_act{
    width: 340px;
    margin-left: 355px;
    margin-right: 29px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #f2f2f2;
}
.right_images_act{
    border-radius: 20px 20px 0px 0px;
    width: 340px;
    height: 190px;
}
.right_images_act2{
    width: 340px;
    height: 130px;
    border-radius: 20px 20px 0px 0px;
}
.small_act2{
    width: 340px;
    margin-left: 355px;
    margin-right: 29px;
    margin-top: 49px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #f2f2f2;
}

h3{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 8px;
}

footer{
    width: 100%;
    display: inline-table;;
    height: 210px;
    padding-top: 30px;
    margin-top: 50px;
    text-align: center;
    background-color: #F2F2F2;
}

h4{
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 8px;
}

.foot1{
    float: left;
    margin-left: 50px;
    text-align: start;
}
.foot2{
    float: left;
    margin-left: 220px;
    text-align: start;
}
.foot3{
    float: right;
    text-align: start;
    margin-right: 380px;
} */



@media only screen and (device-width : 375px) and (device-height : 667px){

    .logo, #logo {
        margin-top: 10px;
        margin-left: 55px;
        width: 150px;
        padding-bottom: 5px;
    }

    header {
        width: 375px;
        height: 300px;
        padding-bottom: 10px;
    }

    .up{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        background-color: rgb(239, 237, 237);
        padding-bottom: 40px;
    }

    .localisation{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #dcdbdb;
        border-top: 3px solid darkgrey;
    }

    #local{
        margin-right: 10px;
        margin-left: 115px;
    }

    h1{
        font-family: shrikhand;
        font-size: 25px;
        margin-inline: 50px;
        text-align: center;
    }

    #p1{
        margin-inline: 44px;
        text-align: center;
        margin-top: -10px;
        color: dimgray;
    }

    .explore{
        border-radius: 50px;
        border: initial;
        box-shadow: 4px 7px 10px darkgrey;
        width: 200px;
        height: 43px;
        color: white;
        background: linear-gradient(-6deg,#9356DC 1%, #FF79DA);
    }

    .fonctionnement{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    h2{
        margin-left: 25px;
    }

    .number{
        color: white;
        width: 20px;
        height: 18px;
        background-color: #9356DC;
        text-align: center;
        border-radius: 100px;
        padding-top: 2px;
        font-size: 13px;
        margin-left: 22px;
        position: inherit;
        margin-top: 38px;
        z-index: 1;
    }

    .choice{
        z-index: 0;
        position: inherit;
        margin-top: -58px;
    }

    .fa, .fas {
        width: 20px;
        z-index: 1;
        margin-left: 55px;
        color: dimgray;
    }

    #ifont{
        z-index: 1;
        position: absolute;
        margin-top: 40px;
        margin-left: 75px;
    }

    .purple{
        color: #9356DC;
        z-index: 1;
        position: absolute;
        margin-top: 40px;
        margin-left: 75px;
    }

    .choose{
        border-radius: 15px;
        border: initial;
        box-shadow: 4px 7px 10px lightgrey;
        width: 320px;
        height: 65px;
        margin-left: 27px;
        margin-top: 15px;
    }

    .resto{
        margin-top: 60px;
        background-color: rgb(239, 237, 237);
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .link{
        color: black;
        text-decoration: none;
    }

    .description{
        width: 325px;
        margin-left: 25px;
        box-shadow: 4px 7px 10px darkgrey;
        margin-bottom: 10px;
        border-radius: 20px;
    }

    .images_rest{
        width: 325px;
        height: 190px;
        border-radius: 20px 20px 0px 0px;
    }

    .new{
        background-color: #99E2D0;
        color: forestgreen;
        width: 90px;
        height: 30px;
        text-align: center;
        padding-top: 10px;
        margin-left: 240px;
        border-radius: 4px;
    }

    h3{
        margin-left: 15px;
    }

    .ti_heart{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    button{
        border: none;
        font-size: 25px;
        color: dimgrey;
        margin-right: 20px;
    }

    button :hover{
        /* remplir que le coeur */
        background: linear-gradient(-6deg,#9356DC 1%, #FF79DA);
    }

    .p2{
        margin-left: 15px;
        margin-top: -11px;
        padding-bottom: 15px;
    }

    /* #submit{
        color: rgba(255, 255, 255, 0);
        background-repeat: no-repeat;
        background-size: 35%;
        background-position: center;
        width: 45px;
        background-image: url(images/search-solid.svg);
    } */

    footer{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        padding: 20px;
        background-color: #323030;
        color: white;
    }

    #logo_footer{
        height: 24px;
        width: 105px;
        /* mettre en blanc */
    }

    .i_footer{
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        margin-bottom: -28px;
    }

    .font_footer{
        color: white;
        margin-left: 0px;
        margin-right: 5px;
    }

    #p2{
        margin-bottom: 10px;
    }

    #contact{
        color: white;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .logo, #logo {
       width: 150px;
        margin-top: 0px;
        margin-left: 10px;
    }

    .menu {
        float: none;
        margin-left: 150px;
    }

    nav a{
        font-size: 20px;
    }

    .menu-ins a{
        font-size: 20px;
    }

    header {
        height: auto;
        padding-bottom: 10px;
    }

    #submit{
        padding-bottom: 4px;
    }
    .p1{
        width: 100%;
        font-size: 20px;
    }

    .filtres{
        padding-top: 20px;
        justify-content: center;
    }

    .Inputicon{
        margin-bottom: 15px;
    }

    section{
        width: auto;
        flex-direction: column-reverse;
    }

    .pop{
        width: auto;
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 40px;
        padding-left: 20px;
        padding-right: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #pop_item {
        margin-left: 20px;
    }

    h6{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .des_pop{
        width: 530px;
    }
    .text_pop {
        margin-left: 40px;
    }

    .images_pop {
        height: 180px;
        width: 250px;
    }
    .width-330{
        width: 330px;
    }
    

    .hebergement{
        width: 768px;
        margin-left: 0;
        border-radius: 0;
    }

    h5 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .description{
        margin-left: 20px;
    }

    .images_heberge{
        height: 150px;
        width: 300px;
    }

    h1{
        font-size: 25px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .left_act{
        margin-bottom: 30px;
        width: 100%;
    }
    .right_act{
        width: 100%;
    }

    .foot3{
        margin-right: 295px;
    }

}
