html{
    font-family: roboto, sans-serif;
}

body{ 
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}


@media only screen and (device-width : 375px) and (device-height : 667px){

    .logo, #logo {
        margin-top: 10px;
        margin-left: 33px;
        width: 150px;
        padding-bottom: 5px;
    }

    .back_header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .arrow{
        margin-left: -30px;
    }

    .back{
        color: #3e3b3b; /* ne fonctionne pas */
    }

    header {
        width: 375px;
        padding-bottom: 10px;
    }

    .up{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        background-color: rgb(239, 237, 237);
        padding-bottom: 40px;
    }

    .up_image{
        width: 100%;
        height: auto;
    }

    .menu{
        background-color: rgb(239, 237, 237);
        z-index: 1;
        border-radius: 20px 20px 0px 0px;
    }

    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -20px; 
    }

    h5{
        font-size: 30px;
        font-weight: bold;
        font-family: Shrikhand;
        margin-left: 20px;
    }

    .heart{
        border: none;
        font-size: 25px;
        color: dimgrey;
        margin-right: 40px;
    }

    /* .fa-heart{
        margin-right: 45px;
        font-size: 20px;
        color: rgb(239, 237, 237);
    } */

    .localisation{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #dcdbdb;
        border-top: 3px solid darkgrey;
    }

    #local{
        margin-right: 10px;
        margin-left: 115px;
    }

    h1{
        font-family: shrikhand;
        font-size: 25px;
        margin-inline: 50px;
        text-align: center;
    }

    #p1{
        margin-inline: 44px;
        text-align: center;
        margin-top: -10px;
        color: dimgray;
    }

    .explore{
        border-radius: 50px;
        border: initial;
        box-shadow: 4px 7px 10px darkgrey;
        width: 200px;
        height: 43px;
        color: white;
        background: linear-gradient(-6deg,#9356DC 1%, #FF79DA);
    }

    .fonctionnement{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    h2{
        margin-left: 25px;
    }

    .number{
        color: white;
        width: 20px;
        height: 18px;
        background-color: #9356DC;
        text-align: center;
        border-radius: 100px;
        padding-top: 2px;
        font-size: 13px;
        margin-left: 22px;
        position: inherit;
        margin-top: 38px;
        z-index: 1;
    }

    .choice{
        z-index: 0;
        position: inherit;
        margin-top: -58px;
    }

    .fa, .fas {
        width: 20px;
        z-index: 1;
        margin-left: 55px;
        color: dimgray;
    }

    #ifont{
        z-index: 1;
        position: absolute;
        margin-top: 40px;
        margin-left: 75px;
    }

    .purple{
        color: #9356DC;
        z-index: 1;
        position: absolute;
        margin-top: 40px;
        margin-left: 75px;
    }

    .choose{
        border-radius: 15px;
        border: initial;
        box-shadow: 4px 7px 10px lightgrey;
        width: 320px;
        height: 65px;
        margin-left: 27px;
        margin-top: 15px;
    }

    .resto{
        margin-top: 60px;
        background-color: rgb(239, 237, 237);
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .link{
        color: black;
        text-decoration: none;
    }

    .description{
        width: 325px;
        margin-left: 25px;
        box-shadow: 4px 7px 10px darkgrey;
        margin-bottom: 10px;
        border-radius: 20px;
    }

    .images_rest{
        width: 325px;
        height: 190px;
        border-radius: 20px 20px 0px 0px;
    }

    .new{
        background-color: #99E2D0;
        color: forestgreen;
        width: 90px;
        height: 30px;
        text-align: center;
        padding-top: 10px;
        margin-left: 240px;
        border-radius: 4px;
    }

    h3{
        margin-left: 15px;
    }

    .ti_heart{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    button{
        border: none;
        font-size: 25px;
        color: dimgrey;
        margin-right: 20px;
    }

    button :hover{
        /* remplir que le coeur */
        background: linear-gradient(-6deg,#9356DC 1%, #FF79DA);
    }

    .p2{
        margin-left: 15px;
        margin-top: -11px;
        padding-bottom: 15px;
    }

    /* #submit{
        color: rgba(255, 255, 255, 0);
        background-repeat: no-repeat;
        background-size: 35%;
        background-position: center;
        width: 45px;
        background-image: url(images/search-solid.svg);
    } */

    footer{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        padding: 20px;
        background-color: #323030;
        color: white;
    }

    #logo_footer{
        height: 24px;
        width: 105px;
        /* mettre en blanc */
    }

    .i_footer{
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        margin-bottom: -28px;
    }

    .font_footer{
        color: white;
        margin-left: 0px;
        margin-right: 5px;
    }

    #p2{
        margin-bottom: 10px;
    }

    #contact{
        color: white;
        text-decoration: none;
    }
}